.button{
    position: relative;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    text-decoration: none;
    border: solid  darkblue;
    border-radius: 64px;
    background-color: rgb(18, 18, 103);
    color: white;
    left: 276px;
    bottom: 138px;
    font-family: monospace;
    padding: 10px;
}

.wrapper3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: 2;
}

.post_block{
    display: grid;
    grid-column: 2;
}

.info_box{
    display: flex;
    flex-direction: column;
    background-color: white;
    max-width: 100%;
    width: 360px;
    padding: 10px;
    max-height: 100%;
    height: 300px;
    border: solid black;
    border-radius: 10px;
}

.column3{
    display: flex;
    flex-direction: column;
}

p{
    font-weight: bold;
}

#item_name{
    display: block;
    border:solid darkslateblue;
    border-radius: 20px;
    padding: 8px;
    margin-bottom: 10px;
    padding-right: 70px;
}

#price{
    display: block;
    border:solid darkslateblue;
    border-radius: 20px;
    padding: 8px;
    margin-bottom: 10px;
    padding-right: 70px;
}

#item_description{
    display: block;
    border:solid darkslateblue;
    border-radius: 20px;
    padding: 8px;
    margin-bottom: 10px;
    padding-right: 70px;
}