body{
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: blue;
    margin: 0;
    padding: 20px;
}

.nav{
    display: flex;
    align-items: center;
    margin: 0px;
}

.logo {
    justify-content: left;
    display: flex;
    justify-content: center;
    width: 165px;
    height: 52px;
    margin-bottom: 0px;
}
.search_bar {
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
    margin-left: 10%;
}

.search-input {
    width: 500px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 50px 0 0 50px;
    outline: none;
}

.search-button {
    padding: 10px 20px;
    background-color: #aed0f4;
    color: white;
    border: none;
    border-radius: 0 50px 50px 0;
    cursor: pointer;
    width: 50px0;
    height: 50px;
    
}

.search-button:hover {
    background-color: #94b9e1;
}

.user-portfolio {
    display: flex;
    justify-content: right;
    justify-content: center;
    margin-left: auto;
}
.user-icon {
    display: flex;
    justify-content: right;
    justify-content: center;
    width: 30px;
    height: 30px;
    padding: 20px;
}

.shopping-bag{
    display: flex;
    justify-content: right;
    justify-content: center;
    width: 30px;
    height: 30px;
    padding: 20px;
}

.auth-container {
    color: black;
    padding: 20px;
    border-radius: 10px;
    margin: 50px;   
    font-family:'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff6e7;
    height: 400px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 30px;   
}

.form-group input {
    font-family: 'Veldana', serif;
    font-weight: bold;
    padding: 10px;
    background-color: whitesmoke;
    border: none;
    border-radius: 10px;
}
.toggle_btn_1 {
    text-decoration: none;
    color: black;
    line-height: normal;
    box-sizing: border-box;
    padding: 10px 20px;
    background-color: #93c2e2;
    border-radius: 50px;
}
.toggle_btn_2 {
    text-decoration: none;
    color: black;
    line-height: normal;
    box-sizing: border-box;
    padding: 10px 20px;
    border-radius: 50px;
}

a.toggle_btn_active {
    color: #8ebbeb;
}

.toggle {
    background-color: #c8e3f5;
    display: flex;
    border-radius: 30px;
    gap: 20px; 
    padding: 10px 20px;
}
.flashes {
    background-color: #99bf8e;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;

}
.submit-button {
    background-color: #8ebbeb;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: none;
    border-radius: 30px;
    size: 20px;
    justify-items: center;
    display: flex;
    padding: 10px 20px;
    cursor: pointer;
}
