
{% block head %}
    <title>About MMU Marketplace</title>
{% endblock %}


{% block body %}

    <div class="bg-[#bbdbfc] py-5 text-center">
        <h1 class="text-center">About MMU Marketplace</h1>
    </div>


<div>
    <div class="w-full overflow-visible">
        <img src="{{ url_for('static', filename='css/photos/about_page.png')}}" alt="About MMU Marketplace" class="w-full h-[50%] block object-cover object-center">
    </div>

    <div class="p-5 text-justify">
        <p>MMU Marketplace is a dedicated web-based platform designed for students to buy, sell, and trade items or services.</p>
        <p>Our goal is to provide a seamless and accessible trading experience for the MMU community, anytime and anywhere.</p>
    </div>
</div>
{% endblock %}