{% extends "base.html" %}

{% block title %}Cart{% endblock %}

{% block body %}
<div class="max-w-4xl mx-auto p-5 font-sans">
    <h1 class="text-center font-bold text-3xl mb-8 text-[#0c2971]">Shopping Cart</h1>

        <div class="text-center py-16 bg-white shadow-sm rounded-xl border border-gray-100">
            <div class="text-6xl mb-4"><img src="{{ url_for('static', filename='css/photos/buy-online.png') }}" alt="Empty Cart" class="w-24 h-24 mx-auto"></div>
            <p class="text-base text-gray-600 mb-10">Your cart is currently empty.</p>
            <a href="/home" class="px-5 py-2.5 bg-blue-500 text-white font-bold rounded-md hover:bg-blue-700 transition-colors">Start Shopping</a>
        </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}