<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chat.css') }}">
    {% block head %}

    {% endblock %}
</head>


<body>
    <div class="nav">
        <a href="/home">
            <img src="{{ url_for('static', filename='css/photos/mmu-logo.png')}}" alt="MMU Logo" class="logo">
        </a>

        <div class="user-portfolio">
            <a href="/home" class="home-icon" style="text-decoration: none;">
                <img src="{{ url_for('static', filename='css/photos/home.png') }}" alt="Home Icon">
            </a>

            <a href="/profile" class="user-icon" style="text-decoration: none;">
                <img src="{{ url_for('static', filename='css/photos/user-icon.png') }}" alt="Profile Icon">
            </a>

        </div>
</div>

<body>
    <div class="chat-container">
        <div style="text-align: right; padding: 10px;">
            <a href="{{ url_for('chat') }}" class="refresh-button">🔄 Refresh</a>
        </div>

        <div class="message-container">
            {% for msg in messages %}
                <div class="message sender-message" >
                    <img src = "{{url_for('static', filename='css/photos/user-icon.png')}}" alt="Profile icon" class="avatar">
                    {{ msg.content }}
                    <span class="time">{{ msg.time }}</span>
                </div>
            {% else %}
                <div class="message receiver-message">No chats yet. Type below to start!</div>
            {% endfor %}
        </div>
        
        <form action="{{ url_for('chat') }}" method="POST" class="message">
            <input type="text" name="content" placeholder="Type your message..." required autocomplete="off" autofocus style="flex-grow: 1;">
            <button type="submit">Send</button>
        </form>
    </div>
    {% block body %}
    {% endblock %}

</body>
</html>