{% extends "chat.html" %}

{% block title %}Select a User to Chat with !{% endblock %}

{% block content %}

<div class="justify-center px-10 py-10 ">
    <h2 class="font-bold">Start a Conversation</h2>
    <ul>
        {% for user in users %}
            <li class=" col-2 px-5 py-5 mx-5 my-5 border-2 rounded-md bg-gray-200">
                <strong>{{ user.username }}</strong>
                <a href="{{ url_for('chat_with', target_username=user.username) }}" class=" mx-5 text-xs border-2 rounded-md px-2 py-2 ">Message</a>
            </li>
        {% else %}
            <p>No other users are registered yet.</p>
        {% endfor %}
    </ul>
</div>
{% endblock %}