<footer class="mt-5 bg-[linear-gradient(#d3e2f2,_#5591dc)] relative overflow-hidden">
    <div class="absolute -top-[2px] left-0 w-full h-[120px] overflow-hidden pointer-events-none" aria-hidden="true" >
        <svg viewBox="0 0 1440 120" preserveAspectRatio="none" class="w-full h-full">
            <path d="M0,58 C120,8 240,108 360,58 C480,8 600,108 720,58 C840,8 960,108 1080,58 C1200,8 1320,108 1440,58 L1440,0 L0,0 Z" class="fill-white"></path>
        </svg>
    </div>

    <div class="mt-[6%] ml-[7%] flex items-center">
        <div class="w-[180px] h-[82px] object-contain">
            <a href="/home">
                <img src="{{ url_for('static', filename='css/photos/mmu-logo.png')}}" alt="MMU Logo" class="w-full h-full object-contain">
            </a>
        </div>

        
    </div>

    <div class="max-w-6xl w-11/12 mx-auto pt-12 pb-8">
        <div class="text-[#334a33] grid grid-cols-3 gap-12">
            <section>
                <h3 class="mb-[17px] text-[22px] font-bold tracking-[0.5px]">About Us</h3>
                <ul class="list-none m-0 p-0">
                    <li class="mb-2.5 leading-[1.5] text-[16px]"><a href="/about" target="_blank" class="text-inherit no-underline hover:underline hover:text-[#05509f]">MMU Marketplace</a></li>
                    <li class="mb-2.5 leading-[1.5] text-[16px]"><a href="/contact" target="_blank" class="text-inherit no-underline hover:underline hover:text-[#05509f]">Contact Us</a></li>
                </ul>
            </section>

            <section>
                <h3 class="mb-[17px] text-[22px] font-bold tracking-[0.5px]">Discover</h3>
                <ul class="list-none m-0 p-0">
                    <li class="mb-2.5 leading-[1.5] text-[16px]"><a href="/ourstores" target="_blank" class="text-inherit no-underline hover:underline hover:text-[#05509f]">Our Stores</a></li>
                </ul>
            </section>

            <section>
                <h3 class="mb-[17px] text-[25px] font-bold tracking-[0.5px]"><span class="text-[#0055A5]">MM</span><span class="text-[#ED1C24]">U</span></h3>
                <ul class="list-none m-0 p-0">
                    <li class="font-['Times_New_Roman'] bg-[linear-gradient(to_right,_#0055A5_0%,_#ED1C24_100%)] bg-clip-text text-transparent [-webkit-background-clip:text] [-webkit-text-fill-color:transparent] mb-2.5 leading-[1.5] text-[20px]">"MMU is You Leading the Digital Future."</li>
                </ul>
            </section>
        </div>

         

        <div class="mt-[34px] pt-[22px] border-t border-[#334a33] flex flex-wrap gap-4 items-center justify-between">
            <div class="font-['Times_New_Roman']">
                <p class="m-0 text-[18px]">&copy; 2026 MMU Marketplace, by G039.</p>
            </div>

            <div class="w-[30px] h-[30px] object-contain">
                <a href="https://github.com/lailailaiws-bit/GitExercise-MMU-Marketplace" target="_blank">
                    <img src="{{ url_for('static', filename='css/photos/github.png')}}" alt="GitHub Logo" class="w-full h-full object-contain">
                </a>
            </div>
        </div>

    </div>
</footer>