<nav class="flex mb-5 justify-between px-5 py-2.5 bg-[whitesmoke] rounded-[50px]">
    <a href="/home">
        <img src="{{ url_for('static', filename='css/photos/mmu-logo.png')}}" alt="MMU Logo" class="w-[170px] h-[52px] mb-0">
    </a>

    <div class="flex ml-auto">
        <a href="/chat" class="flex justify-center w-[30px] h-[30px] p-5 no-underline">
            <img src="{{ url_for('static', filename='css/photos/chat-icon.png') }}" alt="Chat Icon">
        </a>

        <a href="/profile" class="flex justify-center w-[30px] h-[30px] p-5 no-underline">
            <img src="{{ url_for('static', filename='css/photos/user-icon.png') }}" alt="Profile Icon">
        </a>
    </div>
</nav>