{% extends 'base.html'%}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}


{% block body %}


<div class="home-container">
    <h1>Welcome to the Home Page!</h1>
</div>

<div class="ad-slider">
    {% for image in ad_images %}
        <img src="{{ url_for('static', filename='css/ads/' + image) }}" class="ad-image{% if loop.first %} active{% endif %}"  alt="Advertisement">
    {% endfor %}

    <button class="prev-btn" onclick="showPrevAd()">&#10094;</button>
    <button class="next-btn" onclick="showNextAd()">&#10095;</button>
</div>

<script>
    let currentIndex = 0;
    const slides = document.querySelectorAll('.ad-image');
    let autoPlayTimer;

    function changeSlide(direction, isManual = false) {
        if (slides.length === 0) return;

        slides[currentIndex].classList.remove('active');
        currentIndex = (currentIndex + direction + slides.length) % slides.length;
        slides[currentIndex].classList.add('active');

        if (isManual) {
            resetTimer();
        }
    }

    function showNextAd() {
        changeSlide(1, true);
    }

    function showPrevAd() {
        changeSlide(-1, true);
    }

    function autoPlay() {
        changeSlide(1, false);
    }

    function resetTimer() {
        if (slides.length <= 1) return;
        clearInterval(autoPlayTimer);
        autoPlayTimer = setInterval(autoPlay, 3000);
    }

    if (slides.length > 1) {
        autoPlayTimer = setInterval(autoPlay, 3000);
    }

</script>

{% endblock %}