<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Item's name</title>
</head>
<body>
    {% include 'item_market_header.html' %}

    <div class="grid grid-cols-2 col-span-2 justify-center items-start bg-white pt-6 pb-6 pr-15 mx-auto max-w-7xl rounded-lg shadow-xl/30">
            <div class="flex flex-col justify-center items-center">
                {% if item.item_pic %}
                <img src="{{url_for('static', filename='css/photos/' + item.item_pic)}}" class="w-100 h-100 rounded-xl border-4 border-gray-800">
                {% else %}
                <img src="{{url_for('static', filename='css/photos/user-icon')}}" class="w-100 h-100 rounded-xl border-4 border-gray-800">
                {%  endif %}
            </div>
            
            <div class="flex flex-col justify-start items-start gap-6 text-left">
                <div class="grid grid-cols-2 gap-100">
                    <div class="text-4xl font-bold">{{item.item_name}}</div>
                    <a href="{{url_for('item_market')}}" class="text-blue-600 font-semibold hover:underline pl-10">← Back</a>
                </div>
                <div class="grid grid-cols-2 grid-rows-2 gap-6 space-x-6 border-t-2 border-black">
                    <div class="text-2xl font-semibold">Price: RM{{item.price}}</div>
                    <div class="text-2xl font-medium">Seller:- {{item.seller.username}}</div>
                    <div class="text-1xl font-medium">Category: {{item.item_category}}</div>
                    <div class="text-1xl font-medium">Contact Number:- {{item.seller.contact_number}}</div>
                </div>
                <p class="font-semibold">Description:</p>
                <div class="bg-gray-100 text-left w-full p-6 rounded-lg h-40">
                    <h3>{{item.item_description}}</h3>
                </div>

            </div>
        
    </div>

    <a href="{{url_for('item_edit', item_id=item.item_id)}}">Edit item</a>
</body>
</html>