<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">
    <title>Item market</title>
</head>

<body>
 <div class="nav">
        <a href="/home">
            <img src="{{ url_for('static', filename='css/photos/mmu-logo.png')}}" alt="MMU Logo" class="logo">
        </a>

        <div class="marketplace-ui-bar">
            <form action="/search" method="GET">
                <select name="category" class="category-select">
                    <option  value="all">All Categories</option>
                    <option value="electronics">Electronics</option>
                    <option value="fashion">Fashion</option>
                    <option value="home">Home & Furniture</option>
                    <option value="accessories">Accessories</option>
                </select>
                <input type="search" name="q"  placeholder="Search for items, brands..." aria-label="Search marketplace"required autocomplete="off">
                <button type="submit" class="search-button">
                    <img src="{{ url_for('static', filename='css/photos/search.png') }}" alt="Search Icon" style="display: inline-flex; height: 20px;">
                </button>
            </form>
        </div>
        
        <div class=" flex items-center gap-10 mr-1.25">
            <a href="/chat" class="w-9 h-9 mt-1 block" style="text-decoration: none;">
            <img src="{{ url_for('static', filename='css/photos/chat-icon.png') }}" alt="Chat Icon"></a>

        <a href="/profile" class="w-7.5 h-7.5 block" style="text-decoration: none;">
            {% if current_user.profile_pic %}
            <img src="{{url_for('static', filename='css/photos/' + current_user.profile_pic )}}">
            {% else %}
            <img src="{{ url_for('static', filename='css/photos/user-icon.png') }}" alt="Profile Icon">
            {% endif %}

        </a>
        </div>

    </div>
</html>