<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/item_post.css')}}">
    <title>Product Post</title>
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css' rel='stylesheet' />
</head>

<body style="background-color: #f0f0f0;">

    {% include 'header.html' %}
    
    <div class="wrapper3" style="margin-top: 60px;">
        <form action="/item_post" method="POST" enctype="multipart/form-data" class="post_container">
            
            <div class="post_block">
                <h2>Post an Item!</h2>
                <div class="info_box">
                    <div class="column3">
                        <p>1. Item's name:</p>
                        <div class="item_name">
                            <input type="text" name="item_name" id="item_name" placeholder="Name..." required>
                        </div>
                    </div>
                    <div class="category_price">
                        <div class="column4">
                            <p>2. Item's price:</p>
                            <div class="price">
                                <input type="number" name="price" id="price" min="0" placeholder="RM xxx" required>
                            </div>
                        </div>
                        <div class="column6">
                            <p>3. Category:</p>
                            <div class="item_category">
                                <select name="item_category" id="item_category" required>
                                    <option value="" disabled selected>Select a Category</option>
                                    <option value="Electronics">Electronics</option>
                                    <option value="Fashion">Fashion</option>
                                    <option value="Home & Garden">Home & Garden</option>
                                    <option value="Accessories">Accessories</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="column5">
                        <p>4. Item's description:</p>
                        <div class="item_description">
                            <textarea type="text" name="item_description" id="item_description" placeholder="..." rows="3" required></textarea>
                        </div>
                    </div>
                    <div class="item_pic">
                        <p>5. Add pictures!</p>
                        <input type="file" name="item_pic" id="item_pic" class="pic_block" required>
                    </div>
                </div>

                

                <div class="location_box">
                    <p>6. Item's location:</p>
                    <div class="location">
                        <select name="location" id="location" required>
                            <option value="" disabled selected>Select a location (e.g., MMU Cyberjaya)</option>
                            <option value="dtc">Dewan Tun Canselor (DTC)</option>
                            <option value="fci">Faculty of Computing & Informatics (FCI)</option>
                            <option value="faie">Faculty of Artificial Intelligence & Engineering (FAIE)</option>
                            <option value="fom">Faculty of Management (FOM)</option>
                            <option value="fcm">Faculty of Creative Multimedia (FCM)</option>
                            <option value="fca">Faculty of Cinematic Arts (FCA)</option>
                            <option value="fac">Faculty of Applied Communication (FAC)</option>
                            <option value="sport">MMU Sports Complex</option>
                            <option value="library">Siti Hasmah Digital Library MMU</option>
                            <option value="starbees">Starbees</option>
                        </select>
                    </div>

                    <div class="w-full h-[250px] rounded-md overflow-hidden border-slate-700 border mt-2">
                        <div id="map" class="w-full h-full bg-gray-100"></div>
                    </div>
                
                    <input type="hidden" id="longitude" name="longitude">
                    <input type="hidden" id="latitude" name="latitude">
                </div>
            </div>

            <div>
                <p class="submit-button">
                    <input type="submit" class="button" value="Submit">
                </p>

                <div class="flash_container">
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                        <div class="flash pt-20">
                        {% for message in messages %}
                            <p>{{ message }}</p>
                        {% endfor %}
                        </div>
                        {% endif %}
                    {% endwith %}
                </div>
            </div>
        </form>
    </div>

<script>
    mapboxgl.accessToken = '{{ mapbox_token }}';

    const defaultLng = 101.64206252749811;
    const defaultLat = 2.9275929607431586;
    const map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11',
        center: [defaultLng, defaultLat], 
        zoom: 15
    });

    const marker = new mapboxgl.Marker({ color: 'red' })
        .setLngLat([defaultLng, defaultLat])
        .addTo(map);

    const locationSelect = document.getElementById('location');
    const inputLng = document.getElementById('longitude');
    const inputLat = document.getElementById('latitude');
    const locationDisplay = document.getElementById('location-display');

    const landmarkData = {
        "dtc": { lng: 101.64203435895955, lat: 2.928933762357152 },
        "fci": { lng: 101.64110502097552, lat: 2.928573877490879 },
        "faie": { lng: 101.64114941731358, lat: 2.926472960420866 },
        "fom": { lng: 101.64121123103084, lat: 2.9297861207895686 }, 
        "fcm": { lng: 101.64309300201018, lat: 2.926105453067955 },
        "fca": { lng: 101.64229733081021, lat: 2.9261209539470583 }, 
        "fac": { lng: 101.64257733152519, lat: 2.9258712221199312 },
        "sport": { lng: 101.64310543244319, lat: 2.927176345874762 },
        "library": { lng: 101.64166072717791, lat: 2.9275972799847736 },
        "starbees": { lng: 101.64303410926742, lat: 2.9278206568333713 }
    };

    locationSelect.addEventListener('change', function() {
        const selectedKey = this.value;

        if (landmarkData[selectedKey]) {
            const newLng = landmarkData[selectedKey].lng;
            const newLat = landmarkData[selectedKey].lat;
            
            inputLng.value = newLng;
            inputLat.value = newLat;

            map.flyTo({
                center: [newLng, newLat],
                zoom: 16,
                essential: true 
            });
            marker.setLngLat([newLng, newLat]);
            
        } else {
            inputLng.value = "";
            inputLat.value = "";
            locationDisplay.innerText = "";
        }
    });

</script>

</body>
</html>