<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marketplace</title>
</head>
<body>
    {%include 'header.html'%}
    <div class="grid grid-cols-2 col-span-2 justify-center items-center pl-48">
        {% for items in item_list %}

        <div class=" flex border-4 border-black bg-white shadow-lg w-140 h-60 mb-10">
            <a href="{{ url_for('item', item_id=items.item_id)}}">
                <div class="font-bold w-140 h-60">
                    {{items.item_name}}
                    <br>
                    RM {{items.price}}
                    <br>
                    {{items.item_description}}
                    <br>
                    {{items.seller.username}}
                    <br>
                    <div class="shrink-0">
                    {% if current_user.profile_pic %}
                        <img src="{{url_for('static', filename='css/photos/' + current_user.profile_pic)}}" class="w-40 h-40 rounded-xl border-4 border-gray-800">
                    {% else %}
                        <img src="{{url_for('static', filename='css/photos/user-icon.png')}}" class="w-40 h-40 rounded-xl border-4 border-gray-800">
                    {% endif %}
            </div>
                </div>
            </a>
        </div>
        {%  endfor %}
    </div>
</body>
</html>