{% include 'header.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/item_post.css')}}">
    <title>Product Post</title>
</head>
<body>
    <div class="wrapper3">
        <form action="/item_post" method="POST" enctype="multipart/form-data">
            <div class="post_block">
                <h2>Post an Item!</h2>
                <div class="info_box">
                    <div class="column3">
                        <p>1. Item's name:</p>
                        <div class="item_name">
                            <input type="text" name="item_name" id="item_name" placeholder="Name...">
                        </div>
                    </div>
                    <div class="column4">
                        <p>2. Item's price:</p>
                        <div class="price">
                            <input type="number" name="price" id="price" placeholder="RM xxx">
                        </div>
                    </div>
                    <div class="column5">
                        <p>3. Item's description:</p>
                        <div class="item_description">
                            <input type="text" name="item_description" id="item_description" placeholder="...">
                        </div>
                    </div>
                </div>
            </div>

            <p class="submit-button">
                <input type="submit" class="button" value="Submit">
            </p>
        </form>
    </div>

</body>
</html>