<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css' rel='stylesheet'>
    <link rel="icon" href="{{ url_for('static', filename='css/Website_Icon/favicon.png') }}" type="image/png" sizes="32x32">
    <title>Edit Item | MMU Marketplace</title>
</head>
<body>
    {% include 'item_market_header.html' %}

    <div class="max-w-2xl mx-auto mt-10 p-8 bg-white border border-gray-200 rounded-xl">

        <div class="flex justify-between items-center mb-6 border-b-2 border-black pb-4">
            <h1 class="text-2xl font-bold">Edit Your Item Details</h1>
            <a href="{{url_for('item', item_id=item.item_id)}}" class="text-blue-600 font-semibold hover:underline">← Back</a>
        </div>

        <div>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="bg-green-100 text-green-700 px-4 py-3 rounded">
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
        </div>

        <form action="{{url_for('item_edit', item_id=item.item_id)}}" method="POST" enctype="multipart/form-data" class="flex flex-col gap-5">
            
            <div class="flex flex-col gap-1">
                <label class="font-bold text-gray-700">Item Name</label>
                <input type="tel" name="item_name" id="item_name" placeholder="Edit item name" value="{{ item.item_name if item.item_name else ''}}" class="px-4 py-2 border rounded-md">
            </div>

            <div class="flex flex-col gap-1">
                <label class="font-bold text-gray-700">Item Price</label>
                <input type="number" name="price" id="price" min="0" placeholder="RM xxx" value="{{ item.price if item.price else ''}}" required class="border rounded-lg p-2">
            </div>

            <div class="flex flex-col gap-1">
                <label class="font-bold text-gray-700">Item Description</label>
                <textarea name="item_description" id="item_description" rows="4" placeholder="Edit your item's description" class="px-4 py-2 border rounded-md ">{{ item.item_description if item.item_description else ''}}</textarea>
            </div>

            <div class="flex flex-col gap-1">
                <label class="font-bold text-gray-700">Item Category</label>
                <select name="item_category" id="item_category" required class="px-4 py-2 border rounded-md">
                    <option value="" disabled {% if not item.item_category %}selected{% endif %}>Select a category</option>
                    <option value="Electronics" {% if item.item_category == 'Electronics' %}selected{% endif %}>Electronics</option>
                    <option value="Books" {% if item.item_category == 'Books' %}selected{% endif %}>Books</option>
                    <option value="Clothing" {% if item.item_category == 'Clothing' %}selected{% endif %}>Clothing</option>
                    <option value="Furniture" {% if item.item_category == 'Furniture' %}selected{% endif %}>Furniture</option>
                    <option value="Accessories" {% if item.item_category == 'Accessories' %}selected{% endif %}>Accessories</option>
                    <option value="Other" {% if item.item_category == 'Other' %}selected{% endif %}>Other</option>
                </select>
            </div>

            <div >
                <label class="font-bold text-gray-700">Change Your Item's Picture</label>
                <br>
                <input type="file" name="item_pic" id="item_pic" class="mt-2 text-sm p-2 text-gray-600 border border-gray-700">
            </div>

            <div class="flex flex-col gap-1">
                <label class="font-bold text-gray-700">Item Location</label>
                <select name="location" id="location" required class="px-4 py-2 border rounded-md">
                    <option value="" disabled {% if not item.location %}selected{% endif %}>Select a location</option>
                    
                    <option value="dtc" {% if item.location == 'dtc' %}selected{% endif %}>Dewan Tun Canselor (DTC)</option>
                    <option value="fci" {% if item.location == 'fci' %}selected{% endif %}>Faculty of Computing & Informatics (FCI)</option>
                    <option value="faie" {% if item.location == 'faie' %}selected{% endif %}>Faculty of Artificial Intelligence & Engineering (FAIE)</option>
                    <option value="fom" {% if item.location == 'fom' %}selected{% endif %}>Faculty of Management (FOM)</option>
                    <option value="fcm" {% if item.location == 'fcm' %}selected{% endif %}>Faculty of Creative Multimedia (FCM)</option>
                    <option value="fca" {% if item.location == 'fca' %}selected{% endif %}>Faculty of Cinematic Arts (FCA)</option>
                    <option value="fac" {% if item.location == 'fac' %}selected{% endif %}>Faculty of Applied Communication (FAC)</option>
                    <option value="sport" {% if item.location == 'sport' %}selected{% endif %}>MMU Sports Complex</option>
                    <option value="library" {% if item.location == 'library' %}selected{% endif %}>Siti Hasmah Digital Library MMU</option>
                    <option value="starbees" {% if item.location == 'starbees' %}selected{% endif %}>Starbees</option>
                </select>

                <input type="hidden" id="longitude" name="longitude" value="{{ item.longitude if item.longitude else '' }}">
                <input type="hidden" id="latitude" name="latitude" value="{{ item.latitude if item.latitude else '' }}">
            </div>

            <div class="w-full h-[250px] rounded-md overflow-hidden border-slate-700 border mt-2">
                <div id="map" class="w-full h-full bg-gray-100"></div>
            </div>

            <button type="submit" class="w-full bg-blue-500 text-white font-bold py-3 rounded-md hover:bg-blue-600 mt-4">
                Save Changes
            </button>
        </form>

    </div>

<script>
    mapboxgl.accessToken = '{{ mapbox_token }}';

    let currentLng = {{ item.longitude | default(101.6420, true) }};
    let currentLat = {{ item.latitude | default(2.9270, true) }};

    if (typeof mapboxgl !== 'undefined' && mapboxgl.Map) {
        const map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v12',
            center: [currentLng, currentLat],
            zoom: 15
        });

        const marker = new mapboxgl.Marker({ color: '#FF0000' })
            .setLngLat([currentLng, currentLat])
            .addTo(map);


        const landmarkData = {
        "dtc": { lng: 101.64203435895955, lat: 2.928933762357152 },
        "fci": { lng: 101.64110502097552, lat: 2.928573877490879 },
        "faie": { lng: 101.64114941731358, lat: 2.926472960420866 },
        "fom": { lng: 101.64121123103084, lat: 2.9297861207895686 }, 
        "fcm": { lng: 101.64309300201018, lat: 2.926105453067955 },
        "fca": { lng: 101.64229733081021, lat: 2.9261209539470583 }, 
        "fac": { lng: 101.64257733152519, lat: 2.9258712221199312 },
        "sport": { lng: 101.64310543244319, lat: 2.927176345874762 },
        "library": { lng: 101.64166072717791, lat: 2.9275972799847736 },
        "starbees": { lng: 101.64303410926742, lat: 2.9278206568333713 }
        };


        const locationSelect = document.getElementById('location');
        const inputLng = document.getElementById('longitude');
        const inputLat = document.getElementById('latitude');

        locationSelect.addEventListener('change', function() {
            const selectedKey = this.value;

            if (landmarkData[selectedKey]) {
                const newLng = landmarkData[selectedKey].lng;
                const newLat = landmarkData[selectedKey].lat;
                    

                inputLng.value = newLng;
                inputLat.value = newLat;

                marker.setLngLat([newLng, newLat]);
                map.flyTo({ center: [newLng, newLat], zoom: 16 });
            }
        });
    }
</script>

</body>
</html>