{% include 'header.html' %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/profile_edit.css') }}">

<div class="wrapper">

    <div class="customer_account">
        <div>
            <h1>My Account</h1>
            <a href="{{url_for('profile')}}" class="back_btn">← Back</a>
        </div>
    </div>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flashes">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <form action="/profile_edit" method="POST">
    <div class="edit_block">
        <h2>Account Details</h2>
        <div class="column1">
            <div class="contact">
                <input type="tel" name="contact_number" id="contact_number" placeholder="(e.g 01234567890)" pattern="[0-9]{10,11}">
                <label class="contact_label">Phone</label>
            </div>
        </div>

        <div class="column2">
            <div class="bio_block">
                <textarea type="text" name="bio" id="bio" placeholder=""></textarea>
                <label class="bio_label">Bio</label>
            </div>
        </div>
    </div>

    <p class="submit-button">
        <input type="submit" class="button" value="Submit">
    </p>
    </form>

</div>