<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/profile.css')}}">
    <title>Profile</title>
</head>

<body class="bg-gray-100">

    {% include 'header.html' %}

    <div class="max-w-3xl mx-auto mt-10 p-8 pb-6 bg-white border border-gray-200 rounded-xl shadow-lg">

        <div class="flex justify-between items-center mb-8 pb-2 border-b-2 border-black">
            <h1 class="text-2xl font-bold text-gray-800">My Account</h1>
            <a href="{{ url_for('profile_edit')}}" class="flex gap-1 text-blue-600 font-bold hover:underline">
                <svg class="w-5 h-5 fill-current" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/></svg>
                Edit Profile
            </a>
        </div>

        <div class="flex flex-row gap-8">
            
            <div class="shrink-0">
                {% if current_user.profile_pic %}
                    <img src="{{url_for('static', filename='css/photos/' + current_user.profile_pic)}}" class="w-40 h-40 rounded-xl border-4 border-gray-800">
                {% else %}
                    <img src="{{url_for('static', filename='css/photos/user-icon.png')}}" class="w-40 h-40 rounded-xl border-4 border-gray-800">
                {% endif %}
            </div>

            <div class="flex flex-col gap-5 w-full">
                <div class="flex flex-col">
                    <label class="text-xs font-bold text-gray-500 uppercase tracking-wider">Username</label>
                    <p class="text-xl font-semibold text-gray-900 ">{{current_user.username}}</p>
                </div>
                
                <div class="flex flex-col">
                    <label class="text-xs font-bold text-gray-500 uppercase tracking-wider">Contact Number</label>
                    <p class="text-gray-800">
                        {% if current_user.contact_number %}
                            {{ current_user.contact_number }}
                        {% else %}
                            <span class="text-gray-400">No contact provided</span>
                        {% endif %}
                    </p>
                </div>

                <div class="flex flex-col">
                    <label class="text-xs font-bold text-gray-500 uppercase tracking-wider">Description</label>
                    <p class="text-gray-800 bg-gray-50 border border-gray-200 p-8">
                        {% if current_user.bio %}
                            {{current_user.bio}}
                        {% else %}
                            <span class="text-gray-400">No bio provided</span>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>

        <div class="mt-10 pt-6 border-t border-black-600 flex flex-col sm:flex-row justify-between items-center gap-4">  
            <a href="{{url_for('logout')}}" class="flex items-center text-red-600 font-bold hover:bg-red-50 px-4 py-2 rounded-lg">
                <svg class="w-5 h-5 fill-current" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15"><path d="M.57,7.36A.64.64,0,0,0,1.2,8H9L7.21,9.85a.63.63,0,0,0,0,.89h0a.63.63,0,0,0,.9,0L11,7.84A.63.63,0,0,0,11,7h0L8.11,4a.64.64,0,0,0-.91.89h0L9,6.72H1.2A.64.64,0,0,0,.57,7.36Z"></path><path d="M12.67.52H2.33A1.83,1.83,0,0,0,.5,2.3V4.7a.64.64,0,1,0,1.27,0V2.3a.55.55,0,0,1,.55-.55H12.67a.56.56,0,0,1,.56.54h0V12.65a.56.56,0,0,1-.56.56H2.33a.56.56,0,0,1-.56-.56V10A.64.64,0,1,0,.5,10v2.64a1.83,1.83,0,0,0,1.83,1.83H12.67a1.83,1.83,0,0,0,1.83-1.83V2.3A1.83,1.83,0,0,0,12.67.52Z"></path></svg>
                Log out
            </a>

            <div class="flex items-center gap-4">
                <a href="{{ url_for('item_post')}}" class="bg-blue-600 text-white px-6 py-2.5 rounded-full font-bold hover:bg-blue-700">
                    POST ITEM +
                </a>
            </div>
        </div>

    </div>

    <a href="{{url_for('item_market')}}">My items</a>

</body>
</html>
