{% include 'header.html' %}
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
<title>Profile</title>
</head>
<body>
    
<div class="main_container">
    <div class="profile_block">
        <div class="block_1">
            <a class="profile_title">My Account</a>
            <div class="wrapper">
                <div class="profile_pic">
                    {% if current_user.profile_pic %}
                        <img src="{{url_for('static', filename='css/photos/' + current_user.profile_pic)}}" class="user-icon1">
                    {%  else %}
                        <img src="{{url_for('static', filename='css/photos/user-icon.png')}}" class="user-icon2">
                    {% endif %}

    <div>
        <div>
            <h1>My Account</h1>
            <img src=" {{url_for('static', filename='css/photos/user-icon.png')}}" style="width: 250px;height: 250px;">
            <div class="profile_acc">
                <h1>Username:</h1>
                <h2>{{ user.username }}</h2>
                <h1 style="margin-top: -4%;">Contact number:</h1>
                <h2>{% if user.contact_number %}
                        {{ user.contact_number }}
                    {% else %}
                        No contact number is added
                    {% endif %}
                </div>
                <div class="info_block">
                    <div class="username_block">
                         <label class="username_label">Username: </label>
                        <p class="username">{{current_user.username}}</p>
                    </div>
                    <div class="contact_block">
                        <label class="contact_label">Contact Number: </label>
                        <p class="contact">
                            {% if user.contact_number %}
                                {{ user.contact_number }}
                            {% else %}
                                 No contact
                            {% endif %}
                        </p>
                    </div>
                </div>
                <div class="bio_box">
                    <div class="bio_block">
                        <label class="bio_label">Description: </label>
                        <p class="bio">
                            {% if user.bio %}
                                {{current_user.bio}}
                            {% else  %}
                                No bio
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
            <a href="{{url_for('logout')}}" class="logout_style">
                    <svg data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15"><path d="M.57,7.36A.64.64,0,0,0,1.2,8H9L7.21,9.85a.63.63,0,0,0,0,.89h0a.63.63,0,0,0,.9,0L11,7.84A.63.63,0,0,0,11,7h0L8.11,4a.64.64,0,0,0-.91.89h0L9,6.72H1.2A.64.64,0,0,0,.57,7.36Z"></path><path d="M12.67.52H2.33A1.83,1.83,0,0,0,.5,2.3V4.7a.64.64,0,1,0,1.27,0V2.3a.55.55,0,0,1,.55-.55H12.67a.56.56,0,0,1,.56.54h0V12.65a.56.56,0,0,1-.56.56H2.33a.56.56,0,0,1-.56-.56V10A.64.64,0,1,0,.5,10v2.64a1.83,1.83,0,0,0,1.83,1.83H12.67a1.83,1.83,0,0,0,1.83-1.83V2.3A1.83,1.83,0,0,0,12.67.52Z"></path></svg>
                    Log out
            </a>
            <a href="{{ url_for('profile_edit')}}" class="edit_style">
                    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/></svg>
                    Edit Profile
            </a>
        </div>
    </div>
</div>

</body>
</html>